Source: josh-meta
Section: metapackages
Priority: optional
Maintainer: Josh Triplett <josh@joshtriplett.org>
Vcs-Git: https://joshtriplett.org/git/josh-meta
Build-Depends: debhelper-compat (= 12)
Rules-Requires-Root: no
Standards-Version: 4.5.0

Package: josh-apt-source
Architecture: all
Depends: ca-certificates
Description: Josh Triplett's Debian package repository
 This package contains the APT source and archive keyring for Josh Triplett's
 Debian package repository.

Package: josh-backups
Architecture: all
Depends: restic
Description: Configure backups to AWS
 This package configures backups of /home to AWS. After installing, create
 /etc/josh-backups.conf and write the AWS secrets to it.

Package: josh-config-apt
Architecture: all
Description: Configure apt
 This package installs configuration for apt to not install Recommends by
 default, to not keep automatically installed packages installed based on
 Recommends or Suggests, and to not fetch icons or appstream information.

Package: josh-config-beepless
Architecture: all
Description: Make your computer stop beeping
 This package prevents the Linux kernel's pcspkr and snd-pcsp drivers from
 loading, making your computer stop beeping.

Package: josh-config-grub
Architecture: all
Description: Configure GRUB to disable graphics
 This package configures the GRUB bootloader to use text mode rather than
 graphics mode.

Package: josh-config-journal
Architecture: all
Depends: systemd
Description: Configure persistent systemd journal
 This package configures the systemd journal as persistent.

Package: josh-config-logind
Architecture: all
Depends: systemd
Description: Configure systemd-logind to not suspend on lid close
 This package configures systemd-logind to lock the screen on lid close, rather
 than suspending.

Package: josh-config-nm
Architecture: all
Depends:
 mobile-broadband-provider-info,
 modemmanager,
 network-manager
Conflicts: ifupdown
Description: Configure NetworkManager
 This package configures NetworkManager to disable the ifupdown plugin.

Package: josh-config-path
Architecture: all
Description: Configure the default $PATH to include sbin directories
 This package configures the default $PATH to include sbin directories.

Package: josh-config-policykit
Architecture: all
Depends: policykit-1
Description: Configure PolicyKit to allow group sudo
 This package configures PolicyKit to automatically authorize members of group
 sudo when logged in.

Package: josh-config-sudoers
Architecture: all
Depends: sudo, josh-config-path
Description: Configure sudo to allow group sudo, and preserve $HOME
 This package configures sudo via an /etc/sudoers.d file, to allow members of
 group sudo to sudo to any user or group without a password, and to preserve
 $HOME across sudo invocations.
 .
 For this package to work, /etc/sudoers must "#includedir /etc/sudoers.d".

Package: josh-avahi
Architecture: all
Depends:
 avahi-daemon,
 avahi-utils,
 libnss-mdns
Description: Avahi metapackage
 Depends on Avahi packages

Package: josh-core
Architecture: all
Depends:
 acl,
 adduser,
 apt-listchanges,
 apt-utils,
 aptitude,
 bash-completion,
 bind9-host,
 debconf,
  whiptail,
 debsums,
 dnsutils,
 file,
 git,
 gnupg,
 htop,
 iputils-ping,
 less,
 lsof,
 moreutils,
 ncurses-term,
 openssh-client,
 procps,
 psmisc,
 rsync,
 screen,
 sudo,
 telnet,
 time,
 traceroute,
 tree,
 tzdata,
 vim,
 wget
Conflicts:
 vim-tiny
Description: Core metapackage
 Depends on core packages suitable for any system

Package: josh-dev
Architecture: all
Depends:
 autoconf,
 automake,
 build-essential,
 ccache,
 colordiff,
 debhelper,
 devscripts,
  libparse-debcontrol-perl,
  libsoap-lite-perl,
  libwww-perl,
 dh-make,
 diffstat,
 dput,
 equivs,
 fakeroot,
 gdb,
 glibc-doc,
 libc6-dbg,
 libncurses5-dev,
 libtool,
 lintian,
 ltrace,
 man-db,
 manpages-dev,
 patch,
 patchutils,
 strace,
 valgrind,
 vim-fugitive
Description: Development metapackage
 Depends on development packages

Package: josh-full
Architecture: all
Depends:
 josh-core,
 acpica-tools,
 bsdextrautils | bsdmainutils (<< 12.1.1~),
 catdoc,
 dctrl-tools,
 debian-goodies,
 debootstrap,
 dict,
 dmidecode,
 dosfstools,
 dstat,
 enscript,
 fdisk | util-linux (<< 2.29.2-3~),
 genisoimage,
 gnuplot-x11 | gnuplot,
 graphviz,
 groff,
 html2text,
 icoutils,
 info,
 libjpeg-progs,
 lm-sensors,
 lz4,
 man-db,
 manpages,
 mtr-tiny,
 mutt,
 netcat-openbsd,
 netpbm,
 nmap,
 optipng,
 pigz,
 poppler-utils,
 pwgen,
 qemu-kvm | qemu,
 qemu-utils,
 qpdf,
 qrencode,
 rename,
 reportbug,
 rlfe,
 scowl,
 socat,
 sshfs,
 tcpdump,
 tftp,
 tofrodos,
 tsocks,
 unhtml,
 unzip,
 vim-scripts,
 wamerican-huge,
 whois,
 youtube-dl,
  ffmpeg,
 zip,
 zstd
Description: Full metapackage
 Depends on a full set of packages

Package: josh-full-dev
Architecture: all
Depends:
 josh-dev,
 autogen,
 bison,
 cargo,
 cmake,
 debian-policy,
 flex,
 g++-multilib,
 gcc-multilib,
 git-hub,
 libelf-dev,
 libgit2-dev,
 libssl-dev,
 libtool-bin,
 meson,
 ninja-build,
 pkg-config,
 python3,
 rustc,
 rust-gdb,
 wabt,
 xsltproc,
 zlib1g-dev
Description: Full development metapackage
 Depends on a full set of development packages

Package: josh-games
Architecture: all
Depends:
 an,
 angband,
 bsdgames,
 crawl,
 higan,
 nethack-console,
 sgt-puzzles,
Description: Games metapackage
 Depends on an interesting selection of games

Package: josh-gui
Architecture: all
Depends:
 alsa-utils,
 aspell-en,
 audacity,
 cups,
  cups-bsd,
  cups-client,
  foomatic-db-compressed-ppds,
  foomatic-db-engine,
  ghostscript-cups,
  printer-driver-escpr,
  printer-driver-hpcups,
  openprinting-ppds,
 emacs,
  auctex,
  elpa-bar-cursor,
  elpa-tabbar,
 firefox | firefox-esr,
 fonts-crosextra-caladea,
 fonts-crosextra-carlito,
 fonts-dejavu,
 fonts-liberation2,
 fonts-noto-color-emoji,
 gimp,
 gitk,
 gnome,
  dnsmasq-base,
  gnome-shell-extension-top-icons-plus,
 gparted,
 gsfonts-x11,
 gtk2-engines-pixbuf,
 hunspell-en-us,
 inkscape,
 libasound2-plugins,
 libgl1-mesa-dri,
 libpam-gnome-keyring,
 libreoffice,
  libreoffice-gnome,
 libsane-hpaio,
 mesa-utils,
 mpv,
 pdf-presenter-console,
 pidgin,
 pulseaudio-module-bluetooth,
 pulseaudio,
 quodlibet,
 transmission-gtk,
 xdg-utils,
 xorg,
 xsel
Description: GUI metapackage
 Depends on GUI packages

Package: josh-ikiwiki
Architecture: all
Depends:
 ikiwiki,
 gcc,
 libauthen-passphrase-perl,
 libc6-dev,
 libcgi-formbuilder-perl,
 libcgi-session-perl,
 libfile-mimeinfo-perl,
 libimage-magick-perl,
 libtext-csv-perl,
 libtimedate-perl,
 libxml-feed-perl
Description: ikiwiki metapackage
 Depends on ikiwiki and supporting packages.

Package: josh-ssh-server
Architecture: all
Depends:
 molly-guard,
 openssh-server
Description: SSH server metapackage
 Depends on an SSH server and supporting packages.

Package: josh-sys
Architecture: all
Depends:
 cryptsetup-initramfs,
 grub-pc | grub-efi-amd64,
 ifupdown | network-manager,
  isc-dhcp-client | network-manager,
 initramfs-tools,
  busybox,
 iproute2,
 iw,
 josh-config-journal,
 libpam-systemd,
 linux-image-amd64 | linux-image-cloud-amd64,
  firmware-linux-free,
 net-tools,
 systemd,
 pciutils,
 powertop,
 udev,
 usbutils
Description: System metapackage
 Depends on system packages

Package: josh-tex
Architecture: all
Depends:
 texlive,
 texlive-bibtex-extra,
 texlive-generic-recommended,
 texlive-latex-extra,
 texlive-latex-recommended,
 texlive-latex-recommended-doc,
 texlive-pictures,
 texlive-pictures-doc,
 texlive-pstricks,
 texlive-publishers,
 texlive-science,
 texlive-science (>= 2017.20170629-1) | texlive-math-extra
Description: TeX metapackage
 Depends on TeX packages
